<form id="update-advisement" action="" method="PATCH">
  <label id="form-value" for="advisement">New Advisement:</label>
  <input id="new-advisement" type="text" value="<%= advisement %>">
  <input type="submit">
</form>