<h1>Very Tack, Much Data</h1>

<h3>Select a Worker Bee to display their metrics</h3>
<ul>
  <% @worker_bees.each do |worker| %>
    <li><a href="<%= worker_bee_url(worker.id) %>"><%= worker.name %></a></li>
  <% end %>
</ul>
