<div id="index-page">
  <h1 id="index-title">Very Track. Much Data</h1>
  <h3 id="list-title">Select a WorkerBee to display their metrics</h3>
  <div id="index-list">
    <% @worker_bees.each do |worker| %>
      <p id="index-list-item">
        <a id="list-worker-name" href="<%= worker_bee_url(worker.id) %>"><%= worker.name %></a>
      </p>
    <% end %>
  </div>
</div>
