<h1><%= @worker_bee.name %>'s Bio</h1>
<h3>WorkerBee ID: <%= @worker_bee.id %></h3>
<h3>Assigned Comb: <%= @comb.name %></h3>
<h3>Supervisor: <%= @supervisor.name %></h3>

<a href="">Show Metrics</a>
