
<h1>Combs List</h1>
<ul>
  <% @combs.each do |comb| %>
    <li><%= comb.name %></li>
    <ul>
      <li>Supervisor ID: <%= comb.supervisor_id %></li>
      <li>Sweet Spot: <%= comb.sweet_spot %></li>
    </ul>
  <% end %>
</ul>

<a href="<%= worker_bees_url %>">See All Worker Bees</a>